<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header role="banner">
      <section>
      <a id="logo" href="/"><%= image "tls-logo" %></a>
      <nav>
        <a><span>ABOUT US</span></a>
        <a><span>LOAN PROCESS</span></a>
        <a><span>LOAN PROGRAMS</span></a>
        <a><span>TOOLS</span></a>
        <a><span>Apply Now</span></a>
      </nav>
      <span class="icon-menu"></span>
      </section>
    </header>

    <section class="main">
      <header><h1><%= @title %></h1></header>
      <%= yield %>
    </section>

    <footer>
      <section>
        <a id="logo" href="/"><%= image "tls-logo" %></a>
        <div class="contact-info">
        <span class=></span>
        </div>
      </section>
    </footer>
  </body>
</html>