<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="<%= yield (:body_class) %>">
    <header role="banner">
      <section>
      <a id="logo" href="/"><%= image "tls-logo" %></a>
      <nav>
        <a href="/about" class="about-us"><span >ABOUT US</span></a>
        <a href="/loan-process" class="loan-process"><span>LOAN PROCESS</span></a>
        <a href="/loan-programs" class="loan-programs"><span>LOAN PROGRAMS</span></a>
        <a href="/tools" class="tools"><span>TOOLS</span></a>
        <a href="/apply-now" class="apply-now"><span>APPLY NOW</span></a>
      </nav>
      <span class="icon-menu"></span>
      </section>
    </header>

    <section class="main">
      <header><h1><%= @title %></h1></header>
      <%= yield %>
    </section>

    <footer>
      <section>
        <div class="grid-33"><a id="logo" href="/"><%= image "tls-logo" %></a>
        <div class="contact-info">
        <p class="small-text">275 Saratoga Ave., Ste 220</p>
        <p class="small-text">Santa Clara, CA 95050</p>
        </div>
        </div>

        <div class="grid-33 footer-license">
        The Loan Story
        <br/>
CalBRE 01517901   |   NMLS 306302
        </div>

        <div class="grid-33 footer-contact">
        <span><span class="icon-phone icon"></span><b>Phone:</b>(408) 366-0311</span>
        <br/>
        <span><span class="icon-fax icon"></span><b>Fax:</b>(408) 366-0312</span>
        <br/>
        <br/>
        <a class="icon-linkedin social-icon" href="www.linkedin.com"></a>
        <a class="icon-facebook social-icon" href="www.linkedin.com"></a>
        <a class="icon-twitter social-icon" href="www.linkedin.com"></a>
        <a class="icon-yelp social-icon" href="www.linkedin.com"></a>

        </div>
      </section>
    </footer>
  </body>
</html>